<div class="wrapper-controls">
  <div class="controls">
    <div class="top"></div>
    <div class="bottom">
      <div class="left">
        <%- include('../components/button', { id: 'play', title: '',  icon: 'fa-play', inHtml: 'controls' }); %>
        <%- include('../components/button', { id: 'volume', title: '', icon: 'fa-volume-high', inHtml: 'controls' }); %>
      </div>
      <div class="right">
        <%- include('../components/button', { id: 'plus', title: '',  icon: 'fa-plus', inHtml: 'controls' }); %>
        <%- include('../components/button', { id: 'expand', title: '',  icon: 'fa-expand', inHtml: 'controls' }); %>
      </div>
    </div>
  </div>
</div>