<div class="wrapper-controls">
  <div class="controls">
    <div class="top"></div>
    <div class="bottom">
      <div class="left">
        <%- include('../components/button', { id: 'play', inHtml: 'controls', title: '',  icon: 'fa-play' }); %>
        <%- include('../components/button', { id: 'volume', inHtml: 'controls', title: '', icon: 'fa-volume-high' }); %>
      </div>
      <div class="right">
        <%- include('../components/button', { id: 'plus', inHtml: 'controls', title: '',  icon: 'fa-plus' }); %>
        <%- include('../components/button', { id: 'expand', inHtml: 'controls', title: '',  icon: 'fa-expand' }); %>
      </div>
    </div>
  </div>
</div>