<div class="wrapper-popup">
  <form id="<%= id %>" class="<%= inHtml %> popup hidden">
    <%- include('../components/input', { name: 'name', title: '장르', inHtml: 'popup' }); %>
    <%- include('../components/button', { id: '', title: '확인', icon: '', inHtml: 'hidden' }); %>
  </form>
</div>