<div class="wrapper-popup">
  <form id="<%= id %>" class="<%= inHtml %> popup hidden">
    <%- include('../components/input', { id: 'name', inHtml: 'popup', title: '장르'  }); %>
    <%- include('../components/button', { id: '', inHtml: 'hidden', title: '확인', icon: '' }); %>
  </form>
</div>