.auth {
  padding: $posPadding;
  background-color: $pageBgColor;
  border-radius: $posBorderRadius;
  margin-left: 35vw;
  width: 30vw;

  & > .content {
    display: flex;
    height: 100%;

    & > .left,
    & > .right {
      padding: $posPadding;
      border-radius: $posBorderRadius;
      background-color: $pageTopBgColor;
      margin-bottom: $posBetween;
    }

    & > .left {
      width: 30%;
      margin-right: $posBetween;

      & > .title {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
      }
    }

    & > .right {
      width: 70%;

      .wrapper-input {
        display: grid;
        grid-template-columns: 4fr 6fr;
      }

      & > .contents {
        height: 100%;

        & > form {
          & > .top > .wrapper-input:not(:last-child) {
            margin-bottom: 1rem;
          }

          & > .bottom {
            display: flex;
            align-items: center;
            height: 5vh;
          }

          & > .bottom > .link {
            width: 80%;
          }

          & > .bottom > .button {
            width: 20%;

            & > button > span {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
