.page {
  all: initial;
}

#video.page > .content > .contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .container > video {
    width: 100%;
  }

  .wrapper-button {
    display: flex;
    justify-content: center;

    & > button > span {
      display: none;
    }
  }
}
