.page {
  background-color: initial;
}

#video.page > .content > .contents,
#image.page > .content > .contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  row-gap: 16px;

  .container {
    position: relative;

    & > video,
    & > img {
      width: 100%;
      height: 30vh;
      object-fit: fill;
    }
  }

  .container > .wrapper-controls > .controls {
    width: 100%;
    position: absolute;
    bottom: 0;

    & > .bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;

      & > .left,
      & > .right {
        display: flex;
      }
    }
  }

  & > .wrapper-button {
    display: flex;
    justify-content: center;

    & > button > i {
      display: flex;
      align-items: center;
      padding: 10px;
      min-height: 20vh;
    }
  }
}
