<section id="image" class="page">
  <div class="content">
    <div class="contents">
      <% images.forEach((image)=> { %>
      <div class="container">
        <img src="<%= image.path %>" alt="">
      </div>
      <% }); %>
      <%- include('../components/button', { title: '', id: 'add', icon: 'fa-plus', inHtml: 'contents' }); %>
    </div>
  </div>
</section>