<section id="signin" class="page">
  <div class="content">
    <div class="left">
      <div class="title">
        <span>로그인</span>
      </div>
    </div>
    <div class="right">
      <div class="contents">
        <form id="signin" class="signin">
          <div class="top">
            <%- include('../components/input', { title: 'username' , id: 'username' , inHtml: 'signin' }); %>
            <%- include('../components/input', { title: 'password' , id: 'password' , inHtml: 'signin' }); %>
          </div>
          <div class="bottom">
            <div class="link">
              <a href="/signup">
                <span>계정 생성 &rarr;</span>
              </a>
            </div>
            <div class="button">
              <button>
                <span>로그인</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>