<section id="video" class="page">
  <div class="content">
    <div class="contents">
      <% videos.forEach((video)=> { %>
      <div class="container">
        <video src="<%= video.path %>"></video>
        <%- include('../components/controls', { video }); %>
      </div>
      <% }); %>
      <%- include('../components/button', { title: '', id: 'add', icon: 'fa-plus', inHtml: 'contents' }); %>
      <%- include('../templates/controls', { video: '', inHtml: 'contents' }); %>
    </div>
  </div>
</section>