<section id="video" class="page">
  <div class="content">
    <div class="contents">
      <%- include('../components/button', { id: 'add', title: '', icon: 'fa-plus', inHtml: 'contents' }); %>
      <%- include('../components/popup', { id: 'genre', icon: 'fa-plus', inHtml: 'contents' }); %>
      <%- include('../templates/controls', { inHtml: 'contents' }); %>
    </div>
  </div>
</section>