<div class="wrapper-third-party">
  <div class="post-code">
    <div id="wrap">
      <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" alt="접기 버튼">
    </div>
  </div>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>