<section id="signup" class="page auth">
  <div class="content">
    <div class="left">
      <div class="title">
        <span>회원 가입</span>
      </div>
    </div>
    <div class="right">
      <div class="contents">
        <form id="signup" class="signup">
          <div class="top">
            <%- include('../components/input', { id: 'username' , inHtml: 'signup' , title: 'username'}); %>
            <%- include('../components/input', { id: 'password' , inHtml: 'signup' , title: 'password'}); %>
            <%- include('../components/input', { id: 'rePassword', inHtml: 'signup' , title: 'confirm'}); %>
          </div>
          <div class="bottom">
            <div class="link">
              <a href="/signin">
                <span>로그인 &rarr;</span>
              </a>
            </div>
            <div class="button">
              <button>
                <span>회원 가입</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>