#header.partial {
  height: $headerHeight;
  top: 0;
  left: $rootLeft;
  right: $rootRight;
  background-color: #f1f1dc;
  border-radius: $posBorderRadius;
}

#header.partial > header {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#header.partial > header > .start {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: $navWidth;

  & > div > a#home > img {
    height: 40px;
  }
}

#header.partial > header > .center {
  width: 50%;
}

#header.partial > header > .center > nav > ul {
  display: flex;

  & > .wrapper-list {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  & > .wrapper-list > .header-list > a {
    display: grid;
    height: $headerHeight;

    & > span {
      align-self: center;
      font-size: $navDepthFontSize;
      font-weight: 600;
    }
  }
}

#header.partial > header > .end {
  display: flex;
  align-items: flex-end;
  padding-bottom: $posBetween;

  & > div > button > span {
    padding: 0;
    border: 0;
  }
}
