<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vue</title>
    <style>
      .box {
        background-color: aquamarine;
        width: 200px;
        height: 200px;
      }
      .box.two {
        background-color: blue;
      }
      .box.three {
        background-color: brown;
      }
      [v-cloak] {
        display: none;
      }
      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>

  <body>
    <div id="app" v-cloak>
      <login-form />
      <hr />
      <button @click="toggleBox">Toggle box</button>
      <div v-if="isVisible" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app = Vue.createApp({
        // one standard component
        // you could call it just a default options object
        data() {
          return {
            msg: 'Hello',
            isVisible: false,
            isVisible2: false,
          };
        },
        methods: {
          greeting(msg) {
            console.log(msg);
          },
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
        },
      });
      //   two arguments
      //   1. name of the component
      //   2. options object
      //   component -> tag containing under tags
      app.component('login-form', {
        // title scope inside login-form
        template: `
          <form @submit.prevent="handleSubmit">
            <h1>{{ title }}</h1>
            <input type="email" v-model="email" />
            <input type="password" v-model="password" />
            <button>Log in</button>
          </form>
        `,
        data() {
          return {
            title: 'Login Form',
            email: '',
            password: '',
          };
        },
        methods: {
          handleSubmit() {
            console.log(this.email, this.password);
          },
        },
      });
      app.mount('#app');
    </script>
  </body>
</html>
