[Unit]
Description=DDoS Protection
After=multi-user.target

[Service]
ExecStart=bash ./ddos
WorkingDirectory=/app/http/scripts

[Install]
WantedBy=multi-user.target