.wrapper-header {
  height: $headerHeight;
  top: 0;
  left: $rootLeft;
  right: $rootRight;
  background-color: #f1f1dc;
  border-radius: $posBorderRadius;

  & > header {
    display: flex;
    justify-content: space-between;
    height: 100%;

    & > .start {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      width: $navWidth;

      & > div > a > img {
        height: 40px;
      }
    }

    & > .center {
      width: 50%;

      & > nav > ul {
        display: flex;

        & > .wrapper-list {
          display: flex;
          justify-content: center;
          width: 100%;
        }

        & > .wrapper-list > .header-list > a {
          display: grid;
          height: $headerHeight;

          & > span {
            align-self: center;
            font-size: $navDepthFontSize;
            font-weight: 600;
          }
        }
      }
    }

    & > .end {
      display: flex;
      align-items: flex-end;
      padding-bottom: $posBetween;

      & > div > button > span {
        padding: 0;
        border: 0;
      }
    }
  }
}
